/*asdfasdf*/
* {
  box-sizing: border-box;
}
html,body{
  margin: 0;	
  padding : 0;	
}	
.nav ul {	
  margin:0;	
}	
.nav li {	
  display: inline;	
  padding: 5%;
}	

@font-face { 
  font-family: Victoria_Melody; 
  src: url('Victoria_Melody.ttf'); 
} 
.nav a {	
  position : fixed;
  padding: .5em;	
  color: white;	
  font-size: 30px;
  font-family: Victoria_Melody;	
  font-weight: lighter;
}	

.nav a:hover {
background-color: rgba(255,255,255,.3);
}

.main-header {
  background-color: rgba(100,100,100,.8); /* changed the background color for main-header */
  background-image: url("images/mario world.jpg");
  background-blend-mode: multiply;	
  background-size: cover;	
  padding-bottom: 30px;	
  text-align: center;
}


.title-header {
  top: 0;
  margin: 0;
  font-size: 7em;
  font-weight: normal;
  color: white;
}

.band-name {
text-align: center;
margin: 0;
fontsize: 4em;
  font-weight: normal;
  color: white;
}
.band-name-large {
font-size : 7em;
}
.content-section {
margin: 1em;
}

.container{
  max-width: 900px;
  padding: 1.5em;
  color:#888
}

.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
  margin:0;
}

.main-footer{
  background-color: #56CCF2;
  color: #888;
  padding: 20px;
  font-family: Victoria_Melody;	
  font-size: 50px;
}

.main-footer-container {
  display: flex;
  align-items:center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  display: inline;
  padding:.5em;
  margin:10px; 
}
.footer-nav img{
  width: 50px;
  height: 50px;
}
